{% extends 'base.html' %}

{% block content %}
 Upload file selection
<section class="page-section mt-5" id="import-form">
    <div class="container">
        <!-- Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Upload file</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Upload File Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form data-sb-form-api-token="API_TOKEN" id="upload-file" enctype="multipart/form-data" method="POST"
                      action="{% url 'airpollution:airpollution' %}">
                    {% csrf_token %}
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" data-sb-validations="required" id="year" name="year" placeholder="Year"
                               type="number"/>
                        <label for="year">Year</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" data-sb-validations="required:file" id="file" name="file"
                               type="file"/>
                        <label for="file">File</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>


                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="success" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">{{ message_success }}</div>
                            To activate this form, sign up at
                            <br/>
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="error" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Table section-->
<section class="page-section mt-5" id="data-table">
    <div class="container">
        <!-- Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Upload file</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Upload File Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">

                <table id="our-table" class="table">
                    <thead>
                    <tr>
                        <th scope="col">Pollutant</th>
                        <th scope="col">Country</th>
                        <th scope="col">Avg</th>
                        <th scope="col">Min</th>
                        <th scope="col">Max</th>
                        <th scope="col">Limit</th>
                        <th scope="col">Units</th>
                    </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<!-- Chart section-->
<section class="page-section mt-5" id="data-visuals">
    <div class="container">
        <!-- Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Upload file</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Visual section-->
        <div class="row justify-content-center">

            <div id="visuals-container" class="col-lg-8 col-xl-7">

                <div class="row">
                    <div class="col-12 col-md-6">
                        <select class="form-control" id="chart2-summary-type">
                            <option value="max">Maximum</option>
                            <option value="min">Minimum</option>
                            <option value="avg">Average</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <select class="form-control" id="chart2-pollutant">
                            {% for pollutant in pollutant_list %}
                            <option value={{ pollutant }}>{{ pollutant }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="chart2"></div>

            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block js %}
<script>
        function renderChart(chart_type, canvas, name, labels, datasets) {
        let scales = {}
        if (chart_type === 'bar') {
            scales = {
                            xAxes: [{
                                stacked: true,
                                }],
                            yAxes: [{
                                stacked: true
                                }]
                     }
        } else if (chart_type === 'line') {
            scales = {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Month'
                                }
                            }],

                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                                }
                            }]
                        }
        }

        myChart = new Chart(canvas, {
                    type: chart_type,
                    data: {'labels': labels, 'datasets': datasets},
                    options: {
                        title: {
                            display: true,
                            text: name
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                            position: 'nearest'
                        },
                        responsive: true,
                        scales: scales
                }
                });
        }

        $(document).ready(function () {

            $.get("airpollution_table_data", function( data ) {
                for (const [pollution_name, pollution_data] of Object.entries(data)) {
                    for (const [country_iso, d] of Object.entries(pollution_data)) {
                        let tr = $('<tr />')
                        tr.append($('<th />', {text: pollution_name}))
                        tr.append($('<td />', {text: country_iso}))
                        tr.append($('<td />', {text: d.avg.toFixed(2)}))
                        tr.append($('<td />', {text: d.min.toFixed(2)}))
                        tr.append($('<td />', {text: d.max.toFixed(2)}))
                        tr.append($('<td />', {text: d.limit}))
                        tr.append($('<td />', {text: d.units}))
                        $('#table-body').append(tr)
                    }
                }

                $('#our-table').DataTable();

            });

            $.get("airpollution_visual_data_1", function( data ) {
                for (const [chart_name, d] of Object.entries(data)) {
                    let canvas = $('<canvas />').addClass('mb-3').attr('width', '400').attr('height', '350')
                    $('#visuals-container').append(canvas)
                    renderChart('bar', canvas, chart_name, d.labels, d.datasets)
                    }
            });

             let loadChart2 = function(summary_type, pollutants) {
                 $.get(`airpollution_visual_data_2?summary_type=${summary_type}&pollutant=${pollutants}`, function( data ) {
                    let canvas = $('<canvas />').addClass('mb-3').attr('width', '400').attr('height', '350')
                    $('#chart2').html(canvas)
                    renderChart('line', canvas, data.name, data.labels, data.datasets)
            });
        }

        loadChart2('max', 'PM10')
        $('#chart2-summary-type, #chart2-pollutant').on('change', function() {
            let summary_type = $('#chart2-summary-type').val()
            let pollutant = $('#chart2-pollutant').val()
            loadChart2(summary_type, pollutant)
        })

        })

</script>
{% endblock %}




