{% extends 'base.html' %}

{% block content %}
<!-- Upload file selection-->
<section class="page-section mt-5" id="import-form">
    <div class="container">
        <!-- Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Upload file</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Upload File Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form data-sb-form-api-token="API_TOKEN" id="upload-file" enctype="multipart/form-data" method="POST"
                      action="{% url 'airpollution:airpollution' %}">
                    {% csrf_token %}
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" data-sb-validations="required" id="year" name="year" placeholder="Year"
                               type="number"/>
                        <label for="year">Year</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" data-sb-validations="required:file" id="file" name="file"
                               type="file"/>
                        <label for="file">File</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>


                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="success" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">{{ message_success }}</div>
                            To activate this form, sign up at
                            <br/>
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="error" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Table section-->
<section class="page-section mt-5" id="data-table">
    <div class="container">
        <!-- Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Upload file</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Upload File Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">

                <table id="our-table" class="table">
                    <thead>
                    <tr>
                        <th scope="col">Pollutant</th>
                        <th scope="col">Country</th>
                        <th scope="col">Avg</th>
                        <th scope="col">Min</th>
                        <th scope="col">Max</th>
                        <th scope="col">Limit</th>
                        <th scope="col">Units</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pollution_name, pollution_data in data.items %}
                        {% for country_iso, data in pollution_data.items %}
                            <tr>

                                <th scope="row">{{ pollution_name }}</th>

                                <td>{{ country_iso }}</td>
                                <td>{{ data.avg|floatformat }}</td>
                                <td>{{ data.min|floatformat }}</td>
                                <td>{{ data.max|floatformat }}</td>
                                <td>{{ data.limit|floatformat }}</td>
                                <td>{{ data.units}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<!-- Chart section-->
<section class="page-section mt-5" id="data-visuals">
    <div class="container">
        <!-- Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Upload file</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Visual section-->
        <div class="row justify-content-center">

            <div class="col-lg-8 col-xl-7">
                {% for pollutant_name, data in visuals_data.items %}
                    <canvas id="myChart" width="400" height="400"></canvas>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}


<script>

$(document).ready(function() {
    $('#our-table').DataTable();
} );

</script>

{% endblock %}





<!--<script>-->
<!--        $(document).ready(function () {-->

<!--            $('.myChart').each(function (i, ctx) {-->
<!--                let name = $(ctx).attr('data-name')-->
<!--                let labels = $(ctx).attr('data-labels')-->
<!--                let data = $(ctx).attr('data-data')-->
<!--                let background = $(ctx).attr('data-background')-->
<!--                let border = $(ctx).attr('data-border')-->
<!--                labels = JSON.parse(labels)-->
<!--                data = JSON.parse(data)-->
<!--                background = JSON.parse(background)-->
<!--                border = JSON.parse(border)-->


<!--                console.log('dzban')-->
<!--                console.log(name)-->
<!--                console.log(labels)-->
<!--                console.log(data)-->
<!--                console.log(background)-->
<!--                console.log(border)-->

<!--                var myChart = new Chart(ctx, {-->
<!--    type: 'bar',-->
<!--    data: {-->
<!--        labels: 'bla bla',-->
<!--        datasets: [{-->
<!--            label: labels,-->
<!--            data: data,-->
<!--            backgroundColor: background,-->
<!--            borderColor: border,-->
<!--            borderWidth: 1-->
<!--        }]-->
<!--    },-->
<!--    options: {-->
<!--        scales: {-->
<!--            y: {-->
<!--                beginAtZero: true-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--});-->

<!--    </script>-->






